body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-family: "Verdana";
}

.head {
  background-color: #045504;
  width: 306px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.moves {
  margin-right:5px;
  display: none;
}

span {
  vertical-align: middle;
}

svg {
  width : 300px;
  height : 500px;
  border-style: double;
  border-color: black;
  border-radius: 0 0 5px 5px;
  background-color: #045504;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer img {
  width : 100px;
  margin-right: 5px;
}
